---
import '@fontsource/yuji-syuku';
import BaseLayout from '../../layouts/BaseLayout.astro';
const title = 'Yoruyaki - January 2026';

import whiskeyWall from '../../images/20260104_151645_1000003041.webp';
import ramenShop from '../../images/20260104_151655_1000003042.webp';
import smile from '../../images/20260104_154822_55705.webp';
import mune from '../../images/20260104_155619_55710.webp';
import kingOyster from '../../images/20260104_160450_55711.webp';
import negima from '../../images/20260104_161712_55713.webp';
import shishito from '../../images/20260104_163623_55715.webp';
import kayu from '../../images/20260104_170621_55717.webp';
import skewersOnGrill from '../../images/20260104_170846_55718.webp';
import kanban from '../../images/20260104_171215_1000003045.webp';
import dogSign from '../../images/20260104_171223_1000003046.webp';
import threeSkewers from '../../images/20260104_171244_55719.webp';
import grilling from '../../images/20260104_180603_PXL.webp';
import cheese from '../../images/20260104_180605_55723.webp';
import noren from '../../images/20260104_180622_PXL.webp';
import nasu from '../../images/20260104_193233.RAW-02_PXL.webp';
import heart from '../../images/20260104_193319.RAW-02_PXL.webp';
import negima2 from '../../images/20260104_193405.RAW-02_PXL.webp';
import harami from '../../images/20260104_195307.RAW-02_PXL.webp';
import tsukune from '../../images/20260104_195352.RAW-02_PXL.webp';
---

<BaseLayout title={title} />
<main>
  <span class='date'>2026.01.04</span>
  <section>
    <h2>お通し</h2>
    <div class='items'>
      <p>Snacks to nibble on as you wait for skewers to come off the grill.</p>
      <div class='item'>
        <h3>枝豆</h3>
        <p>boiled young soybeans, salt</p>
      </div>
      <div class='item'>
        <h3>おにぎり</h3>
        <p>rice ball, furikake</p>
      </div>
      <div class='item'>
        <h3>浅漬け</h3>
        <p>cucumber, salt</p>
      </div>
      <div class='item'>
        <h3>ポテトサラダ</h3>
        <p>potato, carrot, onion, cucumber, corn, mayo</p>
      </div>
    </div>
  </section>
  <section>
    <h2>串焼き</h2>
    <div class='items'>
      <p>
        The main event. These skewers are one per person and will come out starting from lightest to
        heaviest. Eat them while they are hot. Shichimi, yuzu kosho, and lemon are available as
        toppings.
      </p>
      <div class='item'>
        <a href='/skewers/sasami'>
          <h3>ささみ</h3>
          <p>tender, sake, salt, wasabi</p>
        </a>
      </div>
      <div class='item'>
        <a href='/skewers/mune'>
          <h3>胸</h3>
          <p>breast, yuzu kosho</p>
        </a>
      </div>
      <div class='item'>
        <h3>エリンギ</h3>
        <p>king oyster mushroom, miso dengaku</p>
      </div>
      <div class='item'>
        <a href='/skewers/negima'>
          <h3>ねぎま</h3>
          <p>thigh, scallion, tare</p>
        </a>
      </div>
      <div class='item'>
        <a href='/skewers/tsukune'>
          <h3>つくね</h3>
          <p>meatball, tare</p>
        </a>
      </div>
      <div class='item'>
        <h3>しし唐</h3>
        <p>shishitou pepper, tare</p>
      </div>
      <div class='item'>
        <h3>バックリブ</h3>
        <p>pork rib, dry rub, sauce</p>
      </div>
    </div>
  </section>
  <section>
    <h2>汁</h2>
    <div class='items'>
      <p>
        Take a break from the skewers with a hot bowl of congee. Long simmered chicken stock house made
        from chicken bones and a bonito/kelp dashi is used to boil the rice. Comes with chicken breast and your choice of toppings
      </p>
      <div class='item'>
        <h3>粥</h3>
        <p>chicken dashi, rice, breast, skin, garlic, shiitake, scallion</p>
      </div>
    </div>
  </section>
  <section>
    <h2>追加</h2>
    <div class='items'>
      <p>
        Skewers for the more adventurous. Cuts of chicken that you don't typically see in the west
        along with organs. Limited amounts.
      </p>
      <div class='item'>
        <h3>なす</h3>
        <p>eggplant, tare, ginger</p>
      </div>
      <div class='item'>
        <a href='/skewers/tebamotoreggu'>
          <h3>手羽元レッグ</h3>
          <p>drumette, leg, tare</p>
        </a>
      </div>
      <div class='item'>
        <a href='/skewers/tebanaka'>
          <h3>手羽中</h3>
          <p>wing, tare</p>
        </a>
      </div>
      <div class='item'>
        <a href='/skewers/obisori'>
          <h3>おびそり</h3>
          <p>inner thigh, oyster, sake, salt</p>
        </a>
      </div>
      <div class='item'>
        <a href='/skewers/furisode'>
          <h3>ふりそで</h3>
          <p>shoulder, sake, salt</p>
        </a>
      </div>
      <div class='item'>
        <a href='/skewers/harami'>
          <h3>ハラミ</h3>
          <p>belly, sake, salt</p>
        </a>
      </div>
      <div class='item'>
        <a href='/skewers/kawa'>
          <h3>皮</h3>
          <p>skin, sake, salt</p>
        </a>
      </div>
      <div class='item'>
        <a href='/skewers/bonjiri'>
          <h3>ぼんじり</h3>
          <p>tail, sake, salt</p>
        </a>
      </div>
      <div class='item'>
        <a href='/skewers/seseri'>
          <h3>せせり</h3>
          <p>neck, tare</p>
        </a>
      </div>
      <div class='item'>
        <h3>軟骨</h3>
        <p>cartilage, tare</p>
      </div>
      <div class='item'>
        <a href='/skewers/sunagimo'>
          <h3>砂肝</h3>
          <p>gizzard, sake, salt</p>
        </a>
      </div>
      <div class='item'>
        <a href='/skewers/hatsu'>
          <h3>ハツ</h3>
          <p>heart, sake, salt</p>
        </a>
      </div>
      <div class='item'>
        <a href='/skewers/reba'>
          <h3>レバー</h3>
          <p>liver, tare</p>
        </a>
      </div>
    </div>
  </section>
  <section class='images'>
    <img
      src={whiskeyWall.src}
      alt='Person grilling skewers in front of a wall will whiskey bottles on it'
    />
    <img
      src={ramenShop.src}
      alt='Ramen shop diorama next to a jar of umeshu'
    />
    <img
      src={smile.src}
      alt='A man smiling standing behind a grill with skewers on it'
    />
    <img
      src={mune.src}
      alt='Breast and tender skewers along with onigiri, edamame, pickles and potato salad on a plate'
    />
    <img
      src={kingOyster.src}
      alt='King oyster mushroom skewers with dengaku sauce on top'
    />
    <img
      src={negima.src}
      alt='Grilled chicken thigh and scallion skewer'
    />
    <img
      src={shishito.src}
      alt='Grilled shishito pepper skewer'
    />
    <img
      src={kayu.src}
      alt='A bowl of chicken congee with chicken breast, skin, garlic and shiitake on top'
    />
    <img
      src={skewersOnGrill.src}
      alt='A variety of skewers grilling on a japanese style charcoal grill'
    />
    <img
      src={kanban.src}
      alt='A wooden board with paper menu items attached to it'
    />
    <img
      src={threeSkewers.src}
      alt='A hand holding three chicken offal skewers'
    />
    <img
      src={grilling.src}
      alt='A man rotating skewers on a japanese style charcoal grill'
    />
    <img
      src={cheese.src}
      alt='Three people smiling and holding up the peace sign'
    />
    <img
      src={noren.src}
      alt='A japanese curtain hanging in a doorway'
    />
    <img
      src={dogSign.src}
      alt='A sign with a dog illustration and japanese text'
    />
    <img
      src={nasu.src}
      alt='Grilled eggplant skewer'
    />
    <img
      src={heart.src}
      alt='Grilled chicken heart skewer'
    />
    <img
      src={negima2.src}
      alt='Grilled chicken thigh and scallion skewer'
    />
    <img
      src={harami.src}
      alt='Grilled chicken belly skewer'
    />
    <img
      src={tsukune.src}
      alt='Grilled chicken meatball skewer'
    />
    <iframe width="600" height="1066" src="https://www.youtube.com/embed/bSTlwzXBB_M?si=Xyk7AZPADQUWHcVw&amp;controls=0" title="YouTube video player" frameborder="0" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </section>
  <section class="notes">
    <h2>Notes</h3>
    <p>We had 12 guests this time and made 213 skewers along with 20 pork back ribs (baby back). There ended up being a decent amount of leftovers likely due to the pork rib and the double helping of rice. While the kayu was good it was too much rice overall having that along with the onigiri. Going forward I'll probably switch to doing a chicken broth served with the onigiri, edamame, potato salad, pickles and initial skewers.</p>
    <p>I added eggplant skewers to the menu this time as I was inspired after a meal at <a href="https://notes.curtisbarnard.com/posts/afuri-skewers/">Afuri Izakaya</a>. I used my regular tare and then did a bit of microplaned ginger on top before serving. While not many were ordered I quite enjoyed it. I'll probably keep this as a staple for at least the next few parties.</p>
  </section>
</main>

<style>
  main {
    margin: 0 auto;
    width: 100%;
    max-width: 75ch;
  }
  .date {
    display: block;
    margin-bottom: 1rem;
    text-align: right;
  }
  section {
    margin-bottom: 4rem;
    display: grid;
    grid-template-columns: 1fr 8fr;
  }
  .items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    border-left: 1px solid rgb(173, 165, 159);
    padding-left: 2.2rem;
  }
  section h2 {
    font-family: 'Yuji Syuku', serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 2.4rem;
    writing-mode: vertical-lr;
  }
  section h3 {
    font-family: 'Yuji Syuku', serif;
    font-weight: 400;
    font-size: 1.6rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
  section a {
    text-decoration: none;
  }
  .items > p {
    font-style: italic;
    grid-column-start: span 2;
    font-size: 0.8rem;
  }
  p {
    margin: 0;
    font-size: 1rem;
  }
  .images {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
    padding: 0;
  }
  .images img {
    width: 100%;
    max-width: 600px;
    height: auto;
  }

  .notes {
    display: block;
  }

  .notes h2 {
    font-family: 'Noto Sans Variable', sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 0 0 1rem 0;
    font-size: 2rem;
    writing-mode: horizontal-tb;
  }

  .notes a {
    text-decoration: underline;
  }

  .notes p {
    margin-bottom: 1rem;
  }

  @media (max-width: 650px) {
    .items {
      padding-left: 1rem;
    }
    p {
      font-size: 1rem;
    }
  }
</style>
