---
import '@fontsource/yuji-syuku';
import BaseLayout from '../../layouts/BaseLayout.astro';
const title = 'Yoruyaki - April 2026';

import set1 from '../../images/20260411_180000_1778531552041.webp';
import set2 from '../../images/20260411_180755_59833.webp';
import heart from '../../images/20260411_185312_59835.webp';
import skewers from '../../images/20260411_195913_59842.webp';
import poster from '../../images/20260415_201621.RAW-02_PXL.webp';
import sake from '../../images/20260411_180000_1778531551145.webp';
---

<BaseLayout title={title} />
<main>
  <span class='date'>2026.04.11</span>
  <section>
    <h2>セット</h2>
    <div class='items'>
      <p>A set plate with edamame, onigiri, pickles, potato salad, soup, and two skewers. After being served feel free to order any other skewers you see below or on the hanging board.</p>
      <div class='item'>
        <h3>枝豆</h3>
        <p>boiled young soybeans, salt</p>
      </div>
      <div class='item'>
        <h3>おにぎり</h3>
        <p>rice ball, chicken breast, ginger, yuzu, miso dengaku</p>
      </div>
      <div class='item'>
        <h3>浅漬け</h3>
        <p>cucumber, salt</p>
      </div>
      <div class='item'>
        <h3>ポテトサラダ</h3>
        <p>potato, carrot, onion, cucumber, corn, mayo</p>
      </div>
      <div class='item'>
        <h3>チキンブロス</h3>
        <p>chicken broth, kelp, bonito, daikon</p>
      </div>
      <div class='item'>
        <a href='/skewers/mune'>
          <h3>胸</h3>
          <p>breast, yuzu kosho</p>
        </a>
      </div>
      <div class='item'>
        <a href='/skewers/negima'>
          <h3>ねぎま</h3>
          <p>thigh, scallion, tare</p>
        </a>
      </div>
    </div>
  </section>
  <section>
    <h2>串焼き</h2>
    <div class='items'>
      <p>
        Various types of skewers with limited amounts, click on the name to go to a page with more detail. When ordering check the board to see if they are still available. Shichimi, yuzu kosho, and lemon are available as toppings.
      </p>
      <div class='item'>
        <a href='/skewers/shishitou'>
          <h3>しし唐</h3>
          <p>shishitou pepper, tare</p>
        </a>
      </div>
      <div class='item'>
        <a href='/skewers/eringi'>
          <h3>エリンギ</h3>
          <p>king oyster mushroom, miso dengaku</p>
        </a>
      </div>
      <div class='item'>
        <h3>なす</h3>
        <p>eggplant, tare, ginger</p>
      </div>
      <div class='item'>
        <h3>アスパラチーズ</h3>
        <p>asparagus, cheese, sake, salt</p>
      </div>
      <div class='item'>
        <h3>豚バラ</h3>
        <p>pork belly, sake, salt</p>
      </div>
      <div class='item'>
        <a href='/skewers/sasami'>
          <h3>ささみ</h3>
          <p>tender, sake, salt, wasabi</p>
        </a>
      </div>
      <div class='item'>
        <a href='/skewers/tsukune'>
          <h3>つくね</h3>
          <p>meatball, tare</p>
        </a>
      </div>
      <div class='item'>
        <a href='/skewers/tebamotoreggu'>
          <h3>手羽元レッグ</h3>
          <p>drumette, leg, tare</p>
        </a>
      </div>
      <div class='item'>
        <a href='/skewers/tebanaka'>
          <h3>手羽中</h3>
          <p>wing, tare</p>
        </a>
      </div>
      <div class='item'>
        <a href='/skewers/obisori'>
          <h3>おびそり</h3>
          <p>inner thigh, oyster, sake, salt</p>
        </a>
      </div>
      <div class='item'>
        <a href='/skewers/furisode'>
          <h3>ふりそで</h3>
          <p>shoulder, sake, salt</p>
        </a>
      </div>
      <div class='item'>
        <a href='/skewers/harami'>
          <h3>ハラミ</h3>
          <p>belly, sake, salt</p>
        </a>
      </div>
      <div class='item'>
        <a href='/skewers/kawa'>
          <h3>皮</h3>
          <p>skin, sake, salt</p>
        </a>
      </div>
      <div class='item'>
        <a href='/skewers/bonjiri'>
          <h3>ぼんじり</h3>
          <p>tail, sake, salt</p>
        </a>
      </div>
      <div class='item'>
        <a href='/skewers/seseri'>
          <h3>せせり</h3>
          <p>neck, tare</p>
        </a>
      </div>
      <div class='item'>
        <a href='/skewers/hizanankotsu'>
          <h3>軟骨</h3>
          <p>cartilage, tare</p>
        </a>
      </div>
      <div class='item'>
        <a href='/skewers/sunagimo'>
          <h3>砂肝</h3>
          <p>gizzard, sake, salt</p>
        </a>
      </div>
      <div class='item'>
        <a href='/skewers/hatsu'>
          <h3>ハツ</h3>
          <p>heart, sake, salt</p>
        </a>
      </div>
      <div class='item'>
        <a href='/skewers/reba'>
          <h3>レバー</h3>
          <p>liver, tare</p>
        </a>
      </div>
    </div>
  </section>
  <section class='images'>
    <img
      src={set1.src}
      alt='Breast and negima skewers along with onigiri, edamame, pickles and potato salad on a plate and a bowl of soup beside the plate'
    />
    <img
      src={set2.src}
      alt='Breast and negima skewers along with onigiri, edamame, pickles and potato salad on a plate and a bowl of soup beside the plate'
    />
    <img
      src={skewers.src}
      alt='A variety of yakitori skewers grilling over charcoal'
    />
    <img
      src={heart.src}
      alt='A finished heart skewer with two pieces of heart'
    />
    <img
      src={poster.src}
      alt='Pages from an old Japanese photography magazine pasted to a woodern wall'
    />
    <img
      src={sake.src}
      alt='A man standing beside a yakitori grill drinks some sake out of a cup'
    />
  </section>
  <section class="notes">
    <h2>Notes</h2>
    <p>We had 13 guests again and we made a total of 240 skewers plus one of our guest brought along around 20 skewers of kanpachi. At the end there were around 42 skewers left over. We'll probably drop that amount of thighs we do from 8 to 6 and then drop the extra protein skewer (in this case pork belly). We've been having problems with the onigiri falling apart when there is filling inside so we are probably going to drop the filled onigiri in favor of udon noodles or just onigiri with furikake. I split the tsukune into a batch with green onions (my typical mix in) and a batch with shiso. I really enjoyed the shiso and I think others did ass well so I'll probably switch to using shiso permanently. I'll also probably increase the set size from two skewers to three and maybe do a couple rounds of skewers for which I have enough for everyone before opening up for orders. It keeps the flow a little easier and also makes sure people try a good variety.</p>
  </section>
</main>

<style>
  main {
    margin: 0 auto;
    width: 100%;
    max-width: 75ch;
  }
  .date {
    display: block;
    margin-bottom: 1rem;
    text-align: right;
  }
  section {
    margin-bottom: 4rem;
    display: grid;
    grid-template-columns: 1fr 8fr;
  }
  .items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    border-left: 1px solid rgb(173, 165, 159);
    padding-left: 2.2rem;
  }
  section h2 {
    font-family: 'Yuji Syuku', serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 2.4rem;
    writing-mode: vertical-lr;
  }
  section h3 {
    font-family: 'Yuji Syuku', serif;
    font-weight: 400;
    font-size: 1.6rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
  section a {
    text-decoration: none;
  }
  .items > p {
    font-style: italic;
    grid-column-start: span 2;
    font-size: 0.8rem;
  }
  p {
    margin: 0;
    font-size: 1rem;
  }
  .images {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
    padding: 0;
  }
  .images img {
    width: 100%;
    max-width: 600px;
    height: auto;
  }

  .images iframe {
    width: 100%;
    max-width: 600px;
    aspect-ratio: 9 / 16;
    border: none;
  }

  .notes {
    display: block;
  }

  .notes h2 {
    font-family: 'Noto Sans Variable', sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 0 0 1rem 0;
    font-size: 2rem;
    writing-mode: horizontal-tb;
  }

  .notes a {
    text-decoration: underline;
  }

  .notes p {
    margin-bottom: 1rem;
  }

  @media (max-width: 650px) {
    .items {
      padding-left: 1rem;
    }
    p {
      font-size: 1rem;
    }
  }
</style>