---
import '@fontsource/yuji-syuku';
import BaseLayout from '../layouts/BaseLayout.astro';
import sasamiImage from '../images/20250111_174619_A6602193.webp';
import legImage from '../images/20250111_183930_A6602204.webp';
import tsukuneCloseImage from '../images/20251122_102718_1763937375819.webp';
import negimaImage from '../images/20251122_102719_1763937375730.webp';
import tsukuneGrillImage from '../images/20251122_102723_FullSizeRender_VSCO.webp';
import dinersImage from '../images/20251122_102723_FullSizeRender_VSCO_2.webp';
import eryngiiImage from '../images/20251122_154709_IMG_20251123_144916.webp';
import signImage from '../images/20251122_102723_FullSizeRender_VSCO_1.webp';
import ramenShop from '../images/20260104_151655_1000003042.webp';
import smile from '../images/20260104_154822_55705.webp';
import mune from '../images/20260104_155619_55710.webp';
import kingOyster from '../images/20260104_160450_55711.webp';
import shishito from '../images/20260104_163623_55715.webp';
import kanban from '../images/20260104_171215_1000003045.webp';
import threeSkewers from '../images/20260104_171244_55719.webp';
import grilling from '../images/20260104_180603_PXL.webp';
import noren from '../images/20260104_180622_PXL.webp';
import heart from '../images/20260104_193319.RAW-02_PXL.webp';
const title = 'Yoruyaki';
---

<BaseLayout title={title} />
<main>
  <h2>Upcoming Events</h2>
  <p>
    If you are interested in attending please send an email by clicking one of the dates below or if
    you have our phone number feel free to send a text message. Food is not vegetarian, gluten-free
    or nut allergy safe at this time and drinks are not provided. Please let us know how many people
    are attending so we may plan accordingly.
  </p>
  <p>
    During the winter the grill and tables are setup in our uninsulated garage. While it will be dry, rain or shine, it can be cold so please make sure to wear warm clothes.
  </p>
  <p>
    Thanks - Curtis
  </p>
  <ul>
    <li>
      <a
        href='mailto:curtis.barnard.jr@gmail.com?subject=Yoruyaki%20February%207th&body=I%20would%20like%20to%20attend%20Yoruyaki%20on%20February%207th,%202026.%0A%0AName:%0ANumber%20of%20people:%0A'
      >
        February 7th, 2026 - 3pm - Children OK (5 spots available)
      </a>
    </li>
    <li>
      <a
        href='mailto:curtis.barnard.jr@gmail.com?subject=Yoruyaki%20March%207th&body=I%20would%20like%20to%20attend%20Yoruyaki%20on%20March%207th,%202026.%0A%0AName:%0ANumber%20of%20people:%0A'
      >
        March 7th, 2026 - 5pm - Child-free (12 spots available)
      </a>
    </li>
    <li>
      <a
        href='mailto:curtis.barnard.jr@gmail.com?subject=Yoruyaki%20April%2011th&body=I%20would%20like%20to%20attend%20Yoruyaki%20on%20April%2011th,%202026.%0A%0AName:%0ANumber%20of%20people:%0A'
      >
        April 11th, 2026 - 6pm - Children OK (12 spots available)
      </a>
    </li>
  </ul>
  <h2>Skewers</h3>
  <p>While you wait to hear about upcoming dates take a look at what skewers we offer:</p>
  <ul>
    <li><a href='/skewers/harami'>Belly - ハラミ</a></li>
    <li><a href='/skewers/mune'>Breast - 胸</a></li>
    <li><a href='/skewers/yagennankotsu'>Breast Cartilage - ヤゲン軟骨</a></li>
    <li><a href='/skewers/tebamotoreggu'>Drumette & Leg - 手羽元レッグ</a></li>
    <li><a href='/skewers/sunagimo'>Gizzard - 砂肝</a></li>
    <li><a href='/skewers/hatsu'>Heart - ハツ</a></li>
    <li><a href='/skewers/obisori'>Inner Thigh & Oyster - おびそり</a></li>
    <li><a href='/skewers/hizanankotsu'>Knee Cartilage - 膝軟骨</a></li>
    <li><a href='/skewers/reba'>Liver - レバー</a></li>
    <li><a href='/skewers/tsukune'>Meatball - つくね</a></li>
    <li><a href='/skewers/seseri'>Neck - せせり</a></li>
    <li><a href='/skewers/furisode'>Shoulder - ふりそで</a></li>
    <li><a href='/skewers/kawa'>Skin - 皮</a></li>
    <li><a href='/skewers/bonjiri'>Tail - ぼんじり</a></li>
    <li><a href='/skewers/sasami'>Tender - ささみ</a></li>
    <li><a href='/skewers/negima'>Thigh & Onion - ねぎま</a></li>
    <li><a href='/skewers/tebanaka'>Wing - 手羽中</a></li>
  </ul>
  <h2>
    Photos
  </h2>
  <p>
    You can see some of the best photos from past events below. If you took a photo while attending and event and want it to show up here please email it to me.
  </p>
  <section class='images'>
    <img
      src={noren.src}
      alt='A japanese curtain hanging in a doorway'
    />
    <img
      src={smile.src}
      alt='A man smiling standing behind a grill with skewers on it'
    />
    <img 
      src={sasamiImage.src}
      alt='A yakitori skewer with chicken tender and wasabi on top'
    />
    <img
      src={tsukuneGrillImage.src}
      alt='A row of chicken meatball skewers on a japanese style grill'
    />
    <img
      src={tsukuneCloseImage.src}
      alt='Close up of a chicken meatball skewer'
    />
    <img
      src={legImage.src}
      alt='A yakitori skewer with chicken leg meat and covered in a tare sauce'
    />
    <img
      src={mune.src}
      alt='Breast and tender skewers along with onigiri, edamame, pickles and potato salad on a plate'
    />
    <img
      src={kanban.src}
      alt='A wooden board with paper menu items attached to it'
    />
    <img
      src={dinersImage.src}
      alt='A group of people eating food gathered around a person grill chicken skewers'
    />
    <img
      src={eryngiiImage.src}
      alt='A row of king oyster mushrooms coated in a miso dengaku on a japanese style grill'
    />
    <img
      src={kingOyster.src}
      alt='King oyster mushroom skewers with dengaku sauce on top'
    />
    <img
      src={shishito.src}
      alt='Grilled shishito pepper skewer'
    />
    <img
      src={negimaImage.src}
      alt='A steaming chicken thigh and onion skewer with a person cooking in the background'
    />
    <img
      src={threeSkewers.src}
      alt='A hand holding three chicken offal skewers'
    />
    <img
      src={grilling.src}
      alt='A man rotating skewers on a japanese style charcoal grill'
    />
    <img
      src={heart.src}
      alt='Grilled chicken heart skewer'
    />
    <img
      src={ramenShop.src}
      alt='Ramen shop diorama next to a jar of umeshu'
    />
    <img
      src={signImage.src}
      alt='A red lit sign that says yakitori in japanese'
    />
  </section>
</main>

<style>
  main {
    margin: 0 auto;
    width: 100%;
    max-width: 75ch;
  }
  .images {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
    padding: 0;
  }
  .images img {
    width: 100%;
    max-width: 600px;
    height: auto;
  }
  p {
    margin: 1rem 0;
    font-size: 1rem;
  }
  ul {
    line-height: 2rem;
  }
  s {
    color: hsl(0, 0%, 40%);
  }
</style>
