---
import '@fontsource/yuji-syuku';
import BaseLayout from '../layouts/BaseLayout.astro';
import sasamiImage from '../images/20250111_174619_A6602193.webp';
import legImage from '../images/20250111_183930_A6602204.webp';
import grillImage from '../images/PXL_20250511_012241346.RAW-02.ORIGINAL.webp';
import curtisImage from '../images/PXL_20250309_054613274.RAW-02.ORIGINAL.webp';
const title = 'Yoruyaki';
---

<BaseLayout title={title} />
<main>
  <h2>Upcoming Events</h2>
  <p>
    If you are interested in attending please send an email by clicking one of the dates below or if
    you have our phone number feel free to send a text message. Food is not vegetarian, gluten-free
    or nut allergy safe at this time and drinks are not provided. Please let us know how many people
    are attending so we may plan accordingly.
  </p>
  <p>
    During the winter the grill and tables are setup in our uninsulated garage. While it will be dry, rain or shine, it can be cold so please make sure to wear warm clothes.
  </p>
  <p>
    Thanks - Curtis
  </p>
  <ul>
    <li>
      <a
        href='mailto:curtis.barnard.jr@gmail.com?subject=Yoruyaki%20November%2022nd&body=I%20would%20like%20to%20attend%20Yoruyaki%20on%20November%2022nd,%202025.%0A%0AName:%0ANumber%20of%20people:%0A'
      >
        November 22nd, 2025 - 3pm (12 spots available)
      </a>
      <ul>
        <li>
          <a href="/20251122">
            Menu
          </a>
        </li>
      </ul>
    </li>
  </ul>
  <section class='images'>
    <img src={sasamiImage.src} alt='A yakitori skewer with chicken tender and wasabi on top' />
    <img
      src={legImage.src}
      alt='A yakitori skewer with chicken leg meat and covered in a tare sauce'
    />
    <img
      src={grillImage.src}
      alt='Yakitori skewers on a grill with white smoke rising into the air'
    />
    <img
      src={curtisImage.src}
      alt='A guy drink out of a bottle with a pile of yakitori in front of him and a glowing sign in the background'
    />
  </section>
</main>

<style>
  main {
    margin: 0 auto;
    width: 100%;
    max-width: 75ch;
  }
  .images {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
    padding: 0;
  }
  .images img {
    width: 100%;
    max-width: 600px;
    height: auto;
  }
  p {
    margin: 1rem 0;
    font-size: 1rem;
  }
  ul {
    line-height: 2rem;
  }
  s {
    color: hsl(0, 0%, 40%);
  }
</style>
