---
import '@fontsource/yuji-syuku';
import BaseLayout from '../layouts/BaseLayout.astro';
import sasamiImage from '../images/20250111_174619_A6602193.webp';
import legImage from '../images/20250111_183930_A6602204.webp';
import tsukuneCloseImage from '../images/20251122_102718_1763937375819.webp';
import plateImage from '../images/20251122_102719_1763937375704.webp';
import negimaImage from '../images/20251122_102719_1763937375730.webp';
import tsukuneGrillImage from '../images/20251122_102723_FullSizeRender_VSCO.webp';
import dinersImage from '../images/20251122_102723_FullSizeRender_VSCO_2.webp';
import shishitoImage from '../images/20251122_102730_IMG_1565.webp';
import curtisSmileImage from '../images/20251122_102730_IMG_1568.webp';
import eryngiiImage from '../images/20251122_154709_IMG_20251123_144916.webp';
import signImage from '../images/20251122_102723_FullSizeRender_VSCO_1.webp';
const title = 'Yoruyaki';
---

<BaseLayout title={title} />
<main>
  <h2>Upcoming Events</h2>
  <p>
    If you are interested in attending please send an email by clicking one of the dates below or if
    you have our phone number feel free to send a text message. Food is not vegetarian, gluten-free
    or nut allergy safe at this time and drinks are not provided. Please let us know how many people
    are attending so we may plan accordingly.
  </p>
  <p>
    During the winter the grill and tables are setup in our uninsulated garage. While it will be dry, rain or shine, it can be cold so please make sure to wear warm clothes.
  </p>
  <p>
    Thanks - Curtis
  </p>
  <section class='images'>
    <img 
      src={sasamiImage.src}
      alt='A yakitori skewer with chicken tender and wasabi on top'
    />
    <img
      src={tsukuneGrillImage.src}
      alt='A row of chicken meatball skewers on a japanese style grill'
    />
    <img
      src={tsukuneCloseImage.src}
      alt='Close up of a chicken meatball skewer'
    />
    <img
      src={legImage.src}
      alt='A yakitori skewer with chicken leg meat and covered in a tare sauce'
    />
    <img
      src={plateImage.src}
      alt='A plate with a rice ball, edamame, pickles, potato salad and two chicken skewers'
    />
    <img
      src={dinersImage.src}
      alt='A group of people eating food gathered around a person grill chicken skewers'
    />
    <img
      src={eryngiiImage.src}
      alt='A row of king oyster mushrooms coated in a miso dengaku on a japanese style grill'
    />
    <img
      src={shishitoImage.src}
      alt='Three grilled peppers on skewers'
    />
    <img
      src={negimaImage.src}
      alt='A steaming chicken thigh and onion skewer with a person cooking in the background'
    />
    <img
      src={curtisSmileImage.src}
      alt='A guy smiling while standing in front of some chicken skewers on a japanese style charcoal grill'
    />
    <img
      src={signImage.src}
      alt='A red lit sign that says yakitori in japanese'
    />
  </section>
</main>

<style>
  main {
    margin: 0 auto;
    width: 100%;
    max-width: 75ch;
  }
  .images {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
    padding: 0;
  }
  .images img {
    width: 100%;
    max-width: 600px;
    height: auto;
  }
  p {
    margin: 1rem 0;
    font-size: 1rem;
  }
  ul {
    line-height: 2rem;
  }
  s {
    color: hsl(0, 0%, 40%);
  }
</style>
