---
import '@fontsource/yuji-syuku';
import BaseLayout from '../layouts/BaseLayout.astro';
import sasamiImage from '../images/20250111_174619_A6602193.webp';
import legImage from '../images/20250111_183930_A6602204.webp';
import grillImage from '../images/PXL_20250511_012241346.RAW-02.ORIGINAL.webp';
import curtisImage from '../images/PXL_20250309_054613274.RAW-02.ORIGINAL.webp';
const title = 'Yoruyaki';
---

<BaseLayout title={title} />
<main>
  <h2>Upcoming Events</h2>
  <p>
    If you are interested in attending please send an email by clicking one of the dates below. Food
    is not vegetarian, gluten-free or nut allergy safe at this time. Please let us know how many
    people are attending so we may plan accordingly. Thanks!
  </p>
  <ul>
    <li>
      <a
        href='mailto:curtis.barnard.jr@gmail.com?subject=Yoruyaki%20June%2014th&body=I%20would%20like%20to%20attend%20Yoruyaki%20on%20June%2014th,%202025.%0A%0AName:%0ANumber%20of%20people:%0A'
      >
        June 14th, 2025 - 3pm
      </a>
    </li>
    <li>
      <a
        href='mailto:curtis.barnard.jr@gmail.com?subject=Yoruyaki%20July%205th&body=I%20would%20like%20to%20attend%20Yoruyaki%20on%20July%205th,%202025.%0A%0AName:%0ANumber%20of%20people:%0A'
      >
        July 5th, 2025 - 3pm
      </a>
    </li>
    <li>
      <a
        href='mailto:curtis.barnard.jr@gmail.com?subject=Yoruyaki%20July%2026th&body=I%20would%20like%20to%20attend%20Yoruyaki%20on%20July%2026th,%202025.%0A%0AName:%0ANumber%20of%20people:%0A'
      >
        July 26th, 2025 - 4pm
      </a>
    </li>
  </ul>
  <section class='images'>
    <img src={sasamiImage.src} alt='A yakitori skewer with chicken tender and wasabi on top' />
    <img
      src={legImage.src}
      alt='A yakitori skewer with chicken leg meat and covered in a tare sauce'
    />
    <img
      src={grillImage.src}
      alt='Yakitori skewers on a grill with white smoke rising into the air'
    />
    <img
      src={curtisImage.src}
      alt='A guy drink out of a bottle with a pile of yakitori in front of him and a glowing sign in the background'
    />
  </section>
</main>

<style>
  main {
    margin: 0 auto;
    width: 100%;
    max-width: 75ch;
  }
  .images {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
    padding: 0;
  }
  .images img {
    width: 100%;
    max-width: 600px;
    height: auto;
  }
  p {
    margin: 0;
    font-size: 1rem;
  }
  ul li {
    margin-bottom: 1rem;
  }
</style>
